[server]
name=i.MX6d
description=i.MX6d Baseboard under Test
#webroot=webui/WebContent

[eth0]
routine=ping-client
interface=eth0
startup-active=true
ip-server=10.55.1.1
rating_successive_limit=3

[eth1]
routine=ping-client
interface=eth1
startup-active=true
ip-server=10.55.2.1
rating_successive_limit=3

[rs485@imx6]
routine=rs485-client
startup-active=true
interface=/dev/ttymxc3
baudrate=115200
rating_successive_limit=3

[rs232@imx6]
routine=rs485-client
startup-active=true
interface=/dev/ttymxc4
baudrate=115200
rating_successive_limit=3


[can0]
routine=can-client
startup-active=true
interface=can0
bitrate=1000000
#mode-canfd=yes
#dbitrate=4000000
rating_successive_limit=3


[usbstorage]
routine=filestorage
#device=/dev/mmcblk0p4
device=/dev/sda1
fstype=auto
mount-options=
testdir=test
speed=1000000
#read-cache=False
#gpio-number=gpiochip0:3
#gpio-enabled after error: cycle (ms) * gpio-duration
#gpio-notify=True

[gui-test]
routine=gui
startup-active=true
rating_successive_limit=3
testapp-options=-platform linuxfb




