##############################################################################
# mptool config for stm32mp-t1000-multi
#
##############################################################################

# NAND/EMMC
MEDIUM="EMMC"

# All the same as standard mptool.confg except partition sizes
BOROOTFS_SIZE="500"

boot_SIZE=50
root_A_SIZE="500"
root_B_SIZE="500"

