spi-nor:
  size : 0x10000
  lockfile : /var/lock/fw_printenv.lock
  devices:
    - path : /dev/mtd1
      offset : 0x0
      sectorsize : 0x4000
    - path : /dev/mtd2
      offset : 0x0
      sectorsize : 0x4000

sd-card:
  size : 0x10000
  lockfile : /var/lock/fw_printenv.lock
  devices:
    - path : /dev/mmcblk1
      offset : 0x1E0000
      sectorsize : 0x4000
    - path : /dev/mmcblk1
      offset : 0x1F0000
      sectorsize : 0x4000

emmc:
  size : 0x10000
  lockfile : /var/lock/fw_printenv.lock
  devices:
    - path : /dev/mmcblk0boot0
      offset : -0x20000
      sectorsize : 0x4000
    - path : /dev/mmcblk0boot0
      offset : -0x10000
      sectorsize : 0x4000
