##############################################################################
# mptool config for stm32mp-t1000
#
##############################################################################
#image directory
FW_DIR="/usr/local"

# log file 
PROD_LOG="/tmp/prod_log.txt"
##############################################################################
#tfa uboot image & NAND/EMMC
##############################################################################

# NAND/EMMC
MEDIUM="NAND"

#images
TFA_IMG="tf-a-stm32mp-t1000-trusted.stm32"
UBOOT_IMG="u-boot-stm32mp-t1005-trusted.stm32"

#boot + rootfs (SIZE in MiB)
BOROOTFS_IMG="image-ked-stm32mp-t1005.tar.gz"
BOROOTFS_SIZE="400"

#userfs (if size empty -> all remaining space taken else SIZE in MiB)
USERFS_IMG="image-ked-userfs-stm32mp-t1005-thud.tar.gz"
USERFS_SIZE="50"

#Rescue-os
RESCUEFS="n"
RESCUEFS_IMG="rescuefs.tar.gz"
RESCUEFS_SIZE="30"
##############################################################################

#optional hardware specific
FSBL1_MTD_DEVICE=""
FSBL2_MTD_DEVICE=""
UBOOT_MTD_DEVICE=""
UBI_MTD_DEVICE=""
