##############################################################################
# mptool config for stm32mp-t1000-multi
#
##############################################################################

##############################################################################
# Common settings
##############################################################################

# NAND/EMMC
MEDIUM="NAND"
DEFAULT_FLASH_COMMAND="flash-bl-fs"

##############################################################################
# Storage partitioning and content
##############################################################################

# Bootloader images
TFA_IMG="tf-a-stm32mp-t1000-trusted.stm32"
UBOOT_IMG="u-boot-stm32mp-t1000-k-trusted.stm32"

### Extlinux partition scheme (default)

# boot + rootfs (SIZE in MiB)
BOROOTFS_IMG="image-ktn-stm32mp-t1000-multi.tar.gz"
BOROOTFS_SIZE="350"

# userfs (if size empty -> all remaining space taken else SIZE in MiB)
USERFS_IMG="image-ktn-userfs-stm32mp-t1000-multi-ktn-dunfell.tar.gz"
USERFS_SIZE=

### AB boot partition scheme
# To enable set this:
#FS_PARTITION_LAYOUT="boot root_A root_B userfs"

# boot (SIZE in MiB)
boot_IMG="image-ktn-swu-bootfs-stm32mp-t1000-multi-ktn-dunfell.tar.gz"
boot_SIZE=50
boot_BOOT=1

# root_A (SIZE in MiB)
root_A_IMG="image-ktn-swu-stm32mp-t1000-multi.tar.gz"
root_A_SIZE="200"

# root_A (SIZE in MiB)
root_B_IMG="image-ktn-swu-stm32mp-t1000-multi.tar.gz"
root_B_SIZE="200"

#userfs (if size empty -> all remaining space taken else SIZE in MiB)
userfs_IMG="image-ktn-swu-userfs-stm32mp-t1000-multi-ktn-dunfell.tar.gz"
userfs_SIZE=

##############################################################################
# Common OTP settings
##############################################################################

### Boot prio programming
# Boot prios value. Default is empty which avoids programming this otp register.
# Common configurations:
#   0x22000000  Boot SD, NOR, USB (default)
#
#OTP_CFG3_VALUE="0x22000000"

### OTP word programming
# syntax: OTP_WORD_X="value"
# VALUE must be a 4 byte word and X cant be higher than 95
# 57-58 MAC address
# 59    SoM Number
# 60    Board Number
# 59-66 Reserved for Kontron
# 67-95 Free for user

# Example set OTP word in user area with value
#OTP_WORD_67="0xDEADBEEF"
